body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	background: linear-gradient(
			243deg,
			#fdc5c5 25.45%,
			rgba(242, 152, 222, 0) 100%
		),
		linear-gradient(243deg, #ffa5a5 32.96%, rgba(255, 255, 255, 0) 82.03%),
		#f39494;
}
.container {
	display: flex;
	width: 582px;
	background: #fffefe;
	border-radius: 10px;
	box-shadow: 0px 4px 4px 0px #00000040;
}

.registration {
	display: flex;
	flex-wrap: wrap;
	padding: 72px 95px 91px 93px;
}

header {
	flex-direction: column;
	justify-content: center;
	display: flex;
	width: 100%;
	align-content: center;
	margin-bottom: 47px;

	h1 {
		width: 100%;
		font-size: 36px;
		color: #333;
		display: flex;
		justify-content: center;
		margin: 0;
	}

	h2 {
		color: #666;
		font-size: 18px;
		margin-right: 6px;
	}
}
.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[name='name'] {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right-color: #fffefe;
}

input[name='surname'] {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

input[name='company_name'] {
	width: 100%;
	border-radius: 5px;
	border: 1px solid;
	border-color: #f5f5f5;
	margin-bottom: 21px;
	padding: 10px;
}

input[name='email'] {
	width: 100%;
	border-radius: 5px;
	border-color: transparent;
	background-color: #f5f5f5;
	font-style: italic;
	padding: 10px;
	margin-bottom: 22px;
	color: #999;
}

.input-group {
	width: 44%;
	border-radius: 5px;
	border-color: transparent;
	background-color: #f5f5f5;
	margin-bottom: 22px;
	font-style: italic;
	padding: 10px;
	color: #999;
}

.sign_up {
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: #ffffff;
	background-color: #089fe0;
	border-radius: 5px;
	border-color: transparent;
	margin-bottom: 22px;
	font-size: 18px;
	padding: 10px;
}

.sign_up span {
	flex: 1;
}

label[for='terms'] {
	width: 100%;
	text-align: center;
	font-size: 14px;
	a {
		text-decoration: none;
	}
	input {
		background: #f5f5f5;
	}
}

a {
	color: #089fe0;
}
